<h1>Home Page</h1>

<!-- Show all users -->
<h1>All Contacts</h1>

<button id="listContacts">Show all contacts</button>
<button id="addContact">Create a new contact</button>
<ul id="contacts"></ul>


<br/>


<form id="new_contact_form">
  <label>First Name</label>
  <input type="text" name="firstname" id="firstname" value=""/>
  <label>Last Name</label>
  <input type="text" name="lastname" id ="lastname" value=""/>
  <label>Email</label>
  <input type="email" name="email" id ="email" value=""/>
  <input type="submit"/> 
</form>

<!-- Show a contact -->
<!-- <h1 id="contactname"></h1>
 -->